.auth-form {
  .form-input-container {
    margin-bottom: 20px;

    .checkmark-container {
      display: flex;
      align-items: baseline;
      font-size: 14px;
      cursor: pointer;
      user-select: none;

      input {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .forgot-password {
    display: flex;
    padding-top: 10px;
    cursor: pointer;
    justify-content: flex-end;

    .arrow-right {
      margin-left: 2px;
      margin-top: 2px;
    }

    &:hover {
      color: var(--primary-1);
    }
  }
}

.auth-separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: var(--gray-13); // أو لون رمادي فاتح من عندك
  font-size: 14px;
  font-weight: 500;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--white-4); // لون الخط (رمادي خفيف)
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

// تنسيق زرار جوجل
.google-btn {
  background-color: #ffffff !important; // خلفية بيضاء عشان تبرز اللوجو الملون
  color: var(--gray-2); // الخط غامق
  border: 1px solid var(--white-4); // بوردر خفيف يحدد الزرار
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; // مسافة بين الأيقونة والكلام
  transition: all 0.3s ease;
  margin-bottom: 5px;

  &:hover {
    background-color: #f8f9fa !important; // يغمق سنة بسيطة لما تقف عليه
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // ظل خفيف
  }

  // عشان نتأكد إن الأيقونة مش هتبوظ المحاذاة
  svg {
    width: 20px;
    height: 20px;
  }
}
