.tabs {
  overflow: hidden;
  position: relative;
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0;

    .active button {
      background: var(--white-3);
      color: var(--gray-2);
    }

    li button,
    .forgot-password,
    .reset-password {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: var(--white-1);
      color: var(--gray-1);
      font-size: 20px;
      float: left;
      width: 50%;
      border: none;
      text-align: center;
      border-top: 3px solid transparent;
      transition: all 0.4s ease-in-out;
    }
  }

  .tab-item {
    padding: 30px 0 0;

    .auth-inner {
      width: 450px;
      min-height: 380px;
      margin: auto;
      background: var(--white-1);
      padding: 40px 55px 45px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: all 0.3s;
    }
  }

  .tabs-forgot-password {
    height: 240px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
